body {
  background-color: white;
  color: darkslategrey;
}

/* @media (prefers-color-scheme: dark) {
  body {
    background-color: darkslategrey;
    color: white;
  }
} */

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12%;
}

